.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ui-container-day .ui-container {
  border-color: black;
  border-width: 3px;
  border-radius: 30px;
  background-color: #fafafa;
  padding: 15px;
}

.ui-container-night .ui-container {
  border-color: black;
  border-width: 3px;
  border-radius: 30px;
  background-color: #ababab;
  padding: 15px;
}

.game-lobby-divider {
  border-color: gray;
  border-width: 1px;
  height: 500px;
}

#map-container {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

#app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#game-ui-container {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

#social-container li {
  list-style-type: none;
}

.vote-player {
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
